<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <table width="1525" align="center" style="background-color: rgb(211, 200, 200);">
<tr>
    <td>
        
 <a href="http://127.0.0.1:5500/account/templatse/login.html"> <img src="/staticfile/images/ادمک home2.webp" width="35"></a> 
<img src="/staticfile/images/خرید home2.png" width="35">
</td>
<td>
<h3 style="margin-top: -1px; margin-left: -18px;">
    libaray
</h3>
</td>
<td>
<img src="/staticfile/images/فهرست.png" align="right"  width="35">
    </td>
</tr>
<tr>
    <td colspan="3">
<form align="center" width="1000">
    <input type="search" placeholder="جستجو کتاب،نویسنده و..." style="width: 700px; direction: rtl; text-align: right;">
</form>
    </td>
</tr>
    </table>
    <br><br>
    <br><br>


    <h2 align="center">
        ژانر کتاب
    </h2>


    <table align="center">
        <tr>
            <td>
              <a href=""> <img src="/staticfile/images/ژانر اجتمایی (1).jpg" width="200"> </a>  
            </td>
            <td>
                <img src="/staticfile/images/ژانر داستان.jpg" width="200">
            </td>
        </tr>
    </table>

<br><br><br>

    <h2 align="right">
    : کتاب‌های معروف
    </h2>

    <table border="1" align="right">
        <tr>
            <td>
                <img src="/staticfile/images/10-ketabi-ke-bayad-dar-sal-2025-bekhanid-13-zademohamad.webp" width="150">
            </td>
            <td>
                <img src="/staticfile/images/10-ketabi-ke-bayad-dar-sal-2025-bekhanid-16-zademohamad.webp" width="150">
            </td>
            <td>
                <img src="/staticfile/images/10-ketabi-ke-bayad-dar-sal-2025-bekhanid-17-zademohamad.webp" width="150">
            </td>
            <td>
                <img src="/staticfile/images/10-ketabi-ke-bayad-dar-sal-2025-bekhanid-20-zademohamad-2.webp" width="150">
            </td>
            <td>
                <img src="/staticfile/images/10-ketabi-ke-bayad-dar-sal-2025-bekhanid-20-zademohamad.webp" width="150">
            </td>
            <td>
                <img src="/staticfile/images/10-ketabi-ke-bayad-dar-sal-2025-bekhanid-3-zademohamad.webp" width="150">
            </td>
          
    </table>
</body>
</html>