{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <table width="1525" align="center" style="background-color: rgb(211, 200, 200);">
<tr>
    <td>
        
 <a href=""> <img src="{% static 'customer.jpg' %}" width="35"></a> 
<img src="{% static 'images/shoop.jpg' %}" width="35">
</td>
<td>
<h3 style="margin-top: -1px; margin-left: -18px;">
    libaray
</h3>
</td>
<td>
<img src="{% static 'feh.jpg' %}" align="right"  width="35">
    </td>
</tr>
<tr>
    <td colspan="3">
<form align="center" width="1000">
    <input type="search" placeholder="جستجو کتاب،نویسنده و..." style="width: 700px; direction: rtl; text-align: right;">
</form>
    </td>
</tr>
    </table>
    <br><br>
    <br><br>


    <h2 align="center">
        ژانر کتاب
    </h2>


    <table align="center">
        <tr>
            <td>
              <a href="{% url 'list' %}"> <img src="{% static 'images/egtema.jpg' %}" width="200"> </a>  
            </td>
            <td>
                <img src="{% static 'images/dastan.jpg' %}" width="200">
            </td>
        </tr>
    </table>

<br><br><br>

    <h2 align="right">
    : کتاب‌های معروف
    </h2>

    <table border="1" align="right">

        <tr>
            <td>
                <img src="{% static 'images/ss1.jpg' %}" width="150">
            </td>
            <td>
                <img src="{% static 'images/ss2.jpg' %}" width="150">
            </td>
            <td>
                <img src="{% static 'images/ss3.jpg' %}" width="150">
            </td>
            <td>
                <img src="{% static 'images/ss4.jpg' %}" width="150">
            </td>
            <td>
                <img src="{% static 'images/ss5.jpg' %}" width="150">
            </td>
            <td>
                <img src="{% static 'images/ss6.jpg' %}" width="150">
            </td>
          
    </table>
</body>
</html>